@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf");
}
body {
  margin: 0;
}
.wrap {
  width: 1160px;
  margin: 0 auto;
}
.home-page {
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 0;
}
.menu_logo {
}
.menu_logo img {
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.menu ul li {
  margin-left: 28px;
}
.active a {
  color: #662eed !important;
}
.menu ul li a {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #272142;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.menu ul li a:hover {
  color: #662eed;
}
.home-page_header {
  background-image: url("/photo/bg-header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Nunito";
}
.home-page_header_gradient {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  height: 265px;
}
.home-page_header_gradient h1 {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  text-align: center;
  color: #ffffff;
  display: inline-block;
  width: 100%;
  margin: 0;
  margin-top: 47px;
  margin-bottom: 4px;
}
.home-page_header_gradient p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}
.home-page_dishes {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 100px;
  justify-content: space-between;
}
.home-page_dishes_card {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.home-page_dishes_card img {
  width: 560px;
}
.home-page_dishes_card a {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #272142;
  text-decoration: none;
  margin-top: 20px;
  transition: all 200ms ease-in-out;
}
.home-page_dishes_card a:hover {
  color: #662eed;
}
.footer-bg {
  background: #f9f7fe;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
.footer img {
}
.footer_soc-med {
  text-align: center;
}
.footer_soc-med a {
  margin: 0 15px;
  color: #272142;
  text-decoration: none;
}
.footer_soc-med a i {
  font-size: 16px;
  line-height: 18px;
  transition: all 200ms ease-in-out;
}
.footer_soc-med a i:hover {
  color: #662eed;
}
.footer p {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 19px;
  color: #272142;
  text-align: right;
}
.thirty-three {
  width: 33%;
}

.about-page {
}
.about-page h1 {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  text-align: center;
  color: #272142;
  display: inline-block;
  width: 100%;
  margin: 0;
}
.about-page_about {
  margin-top: 126px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}
.about-page_about img {
  width: 460px;
  margin-right: 20px;
}
.about-page_about_text {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-page_about_text h2 {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  color: #272142;
  margin-top: 0;
  margin-bottom: 36px;
}
.about-page_about_text p {
  font-family: "Nunito";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #272142;
  margin: 0;
  margin-bottom: 52px;
}
.about-page_about_text_follow {
  display: flex;
  align-items: center;
}
.about-page_about_text_follow h4 {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #272142;
  margin: 0 30px 0 0;
}
.about-page_about_text_follow a {
  margin-right: 30px;
  color: #272142;
  text-decoration: none;
}
.about-page_about_text_follow a i {
  font-size: 16px;
  line-height: 18px;
  transition: all 200ms ease-in-out;
}
.about-page_about_text_follow a i:hover {
  color: #662eed;
}
.about-page h3 {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #272142;
  margin: 0;
}
.about-page_favorite {
  margin-top: 41px;
  display: flex;
  margin-bottom: 100px;
}
.about-page_favorite_card {
}
.about-page_favorite_card img {
  width: 360px;
  height: 350px;
  margin-bottom: 20px;
}
.about-page_favorite_card a {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #272142;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
.about-page_favorite_card a:hover {
  color: #662eed;
}
.about-page_favorite_card p {
  margin: 20px auto;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #272142;
}

.recipe-page {
}
.recipe-page h1 {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  text-align: center;
  color: #272142;
  margin: 0;
}
.recipe-page_content {
  width: 760px;
  margin: 0 auto;
  margin-top: 126px;
}
.recipe-page_content_card {
  margin-bottom: 60px;
}
.recipe-page_content_card img {
  width: 760px;
}
.recipe-page_content_card h2 {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: #272142;
  margin: 0;
  margin-top: 42px;
  margin-bottom: 32px;
}
.dashed-border {
  border-bottom: 1px dashed #67d5d2;
}
.recipe-page_content_card_container {
  display: flex;
}
.recipe-page_content_card_ingredient {
  width: 100%;
}
.recipe-page_content_card_ingredient h3 {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #272142;
  margin: 0;
  padding-bottom: 25px;
}
.recipe-page_content_card_ingredient ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 28px;
  padding-right: 18px;
}
.recipe-page_content_card_ingredient li {
  font-family: "Nunito";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #272142;
  padding: 10px 0;
}
.recipe-page_content_card_method {
  width: 100%;
  margin-left: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.recipe-page_content_card_method h3 {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #272142;
  margin: 0;
  padding-bottom: 25px;
  padding-left: 18px;
}

.recipe-page_content_card_method_steps {
  padding-left: 19px;
}
.recipe-page_content_card_method_steps h4 {
  font-family: "Nunito";
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: #f65282;
  margin: 0;
}
.recipe-page_content_card_method_steps p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #272142;
  margin: 0;
}
#sixth-card {
  margin-bottom: 142px !important;
}

.contact-page {
}
.contact-page h1 {
  margin: 26px 0;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  text-align: center;
  color: #272142;
}

.contact-page_content {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}
.contact-page_content_photo {
  margin-right: 20px;
}
.contact-page_content_photo img {
  width: 460px;
}
.contact-page_content_text {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-page_content_text_one-of-three {
}
.contact-page_content_text_one-of-three h2 {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #662eed;
  margin: 0;
  margin-bottom: 20px;
}
.contact-page_content_text_one-of-three p {
  font-family: "Nunito";
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #272142;
  margin: 0;
  margin-bottom: 50px;
}
.contact-page_content_text_one-of-three i {
  margin-right: 25px;
}
.contact-page_content_text_one-of-three a {
  text-decoration: none;
  font-family: "Nunito";
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #272142;
  margin: 0;
  transition: all 200ms ease-in-out;
}
.contact-page_content_text_one-of-three a:hover {
  color: #662eed;
}
